.vscode/
build/
tags.*

CMakeCache.txt
CMakeFiles/
_deps/

cmake_install.cmake
*.a

taller_client
taller_server
taller_*

manualtest/

Makefile
SDL2pp/

*_autogen/

tester_protocol
tester_logic
tester_integration
